header.header {
    /* background-color: #5d0084;*/
    background-color: #8aa0a5;
    /* background-image: url("/about/penroset2.png"); */
    background-image: url("/about/blind-1.jpg");
    /* background-size: contain; */ 
    background-repeat: no-repeat;
    font-weight: bold !important;
}

#menu .active {
    font-weight: bold;
}

.nav a {
    color: #fff;
}

.nav {
    color: #fff;
}

.first-entry {
    min-height: 0px;
}

.first-entry .entry-header h1 {
    font-size: 60px;
}

a.entry-link {
    border: solid purple 1px;
    border-radius: 1%;
}

body {
    background: #f8faed !important;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

div.logo {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}